.category {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.category.hover {
    background-color: #f5f5f5;
}

.category:hover {
    cursor: pointer;
}
.category.active {
    background-color: #337ab7;
    color: #fff;
    border-color: #337ab7;
}

.category.edit-mode {
    cursor: auto;
}

.category__title {
    margin-left: 30px;
}

.category__triangle {
    position: absolute;
}

.listGroup {
    margin: 0 0 0 20px;
    line-height: 22px;
}

.addForm {
    margin-bottom: 20px;
}

.categoriesWrapper {
    margin-left: -20px;
}

.todo {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 20px;
}

.todoTitle {
    margin-left: 20px;
    font-size: 20px;
}

.textArea {
    width: 100%;
}

.glyphicon_flip {
    transform: scaleX(-1);
}